.container{
    padding: 25px;
}

.flightDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px; /* Limit the maximum width for better readability */
    border-radius: 10px;
    box-shadow: 0 0px 8px rgba(238, 238, 238, 0.8);
    direction: rtl;
}

.section {
    margin-bottom: 20px;
    width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Space between grid items */
    width: 100%;
}

.assignmentSection {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}