.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.label{
    text-align: right;
    font-size: large;
    margin: 3px;
}

.input{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: medium;
}

.input:focus{
    outline: none;
}

.button{
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #2E2E2E;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 5px 0px rgb(50, 50, 50);
    transition: .5s;
}

.button:hover{
    transform: translateX(-50%) scale(1.05);
}