.storageInfo {
    padding: 10px 100px;
    margin-bottom: 40px;
    border-radius: 10px;
    text-align: center;
    direction: rtl;
}
  
.storageGrid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    justify-items: center;
    transition: .5s ease-in-out;
}
  
.storageItem {
    padding: 10px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
    cursor: default;
}

@media (max-width: 1000px) {
    .storageGrid{
        gap: 75px;
    }
}

@media (max-width: 925px) {
    .storageGrid{
        gap: 50px;
        transform: translateX(-10px);
    }
}

@media (max-width: 900px) {
    .storageGrid{
        gap: 50px;
        transform: translateX(-20px);
    }
}

@media (max-width: 870px) {
    .storageGrid{
        gap: 160px;
        transform: translateX(-25px);
    }
}

.storageItem:hover{
    transform: scale(1.2);
}
  
.storageItem .title {
    margin-bottom: 10px;
    color: #333;
}
  
.storageItem .storageItemText {
    font-size: 18px;
    color: #666;
}