.container{
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 10px 2px -1px rgba(100, 100, 100, 0.5);
}

.planeContainer,
.armamentContainer,
.podContainer{
    width: 21%;
    height: 500px;
}

.planeContainer{
    background: linear-gradient(
        180deg,
        #5ca3bd 80%,
        #ffffff 20%
    );
    right: -700px;
    animation: slideLeft 1s ease-out forwards;
}

.armamentContainer{
    background: linear-gradient(
        180deg, 
        #5ca3bd 80%, 
        #ffffff 20%
    );
    top: -700px;
    animation: slideDown 1s ease-out forwards;
}

.podContainer{
    background: linear-gradient(
        180deg,
        #5ca3bd 80%, 
        #ffffff 20%
    );
    left: -700px;
    animation: slideRight 1s ease-out forwards;
}

@keyframes slideLeft {
    to{
        right: 0;
    }
}

@keyframes slideDown {
    to{
        top: 0;
    }
}

@keyframes slideRight {
    to{
        left: 0;
    }
}

.h3{
    direction: ltr;
    font-size: x-large;
}