.tableWrapper{
    overflow-x: auto;
    border-radius: 10px;
}

.table{
    direction: rtl;
    width: 100%;
    border-collapse: collapse;
    font-size: larger;
}

.th{
    text-align: center;
    color: white;
    background-color: rgb(65, 65, 65);
    border-radius: 0px;
    padding: 5px 15px;
}