.container{
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}

.dot{
    padding: 6px;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
}

.dotgray{
    background-color: rgb(220, 220, 220);
}

.dotgreen{
    background-color: rgb(47, 193, 47);
}

.dotblue{
    background-color: rgb(0, 157, 255);
}

.dotred{
    background-color: rgb(255, 73, 73);
}