.container{
    display: flex;
    direction: rtl;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
}

.instructions {
    position: relative;
    font-size: 1.2rem;
    margin-top: 15px;
    color: #333;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.instructions::before{
    content: '';
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    background-image: url('/info.png');
    background-size: cover;
}

.instructions em {
    font-weight: bold;
    color: #367cff;
    margin-inline: 3px;
}