.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* direction: rtl; */
}

.relative {
    position: relative;
    direction: rtl;
    padding: 3px;
}

.dropdownHider{
    background-color: white;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    border-radius: 0px 15px 15px 0px;
}

.roleContainer {
    background-color: var(--bg);
    position: relative;
    z-index: 30;
    padding: 5px 15px;
    margin-left: 2px;
    border-radius: 0px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s;
}

.roleContainer:hover{
    padding: 5px 20px;
}

.roleName {
    margin: 3px;
}
