.flightTableBox{
    width: 1300px;
}

.flightTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #181A1A;
    color: #ffffff;
    cursor: default;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.title{
    margin-block: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.tableWrapper{
    height: 350px;
}

.flightTable th, .flightTable td {
    border: 1px solid #ffffff;
    padding: 12px 15px;
    text-align: left;
    text-align: center;
}
  
.flightTable th {
    background-color: #282c34;
    font-size: 1rem;
}

.flightTable tbody tr:nth-child(even) {
    background-color: #202428;
}

.flightTable tbody tr:hover {
    background-color: #2a2c2f;
}

.dateTimeContainer {
    display: flex;
    justify-content: space-between;
}

.status{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    outline: none;
}

.flightId {
    cursor: pointer;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.flightId:hover {
    text-shadow: 0 0 20px white;
}

/* Status Colors */
.statusScheduled {
    color: #fd7e14;
}

.statusInFlight {
    color: #3898ff;
}

.statusLanded {
    color: #28a745;
}

.statusCanceled {
    color: #dc3545;
}

.statusCompleted {
    color: #a2a2a2;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
    background-color: #5189cdd5;
    color: white;
}

.pagination button.activePage {
    background-color: #5189cd;
    color: white;
    cursor: default;
}