.formContainer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    direction: rtl;
}

.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.formTitle {
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input,
.select,
.fileInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.input:focus,
.select:focus{
    border: 1px solid rgb(0, 183, 255);
}

.submitButtonBox{
    width: 100%;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 127, 48);
    border: 1px solid green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submitButton:hover {
    background-color: rgb(31, 127, 48, 0.5);
}

.fileInput{
    color: rgb(255, 255, 255);
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

.successMessage {
    color: rgb(38, 237, 38);
    margin-bottom: 10px;
}

.adminNote{
    color: rgb(155, 57, 57);
    font-size: 10px;
}