:root {
  --bg: #181A1A;
  --secondary-bg: #242727;
  --third-bg: #83c2c2;
  --text: white;
  --primary-color: #1c7fa3;
  --button-primary-color-hover: #1c7fa3ca;
  --button-primary-color-active: #1c7fa390;
  --text-primary-color: rgb(65, 65, 65);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ibmHebrew{
  font-family: var(--font-ibm-hebrew);
}

body{
  background-color: var(--bg);
  color: var(--text);
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  overflow-y: overlay;
}

a{
  text-decoration: none;
  color: inherit;
}

.container {
  /* width: 1536px; */
  /* margin: auto; */
  /* padding-inline: 50px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  /* justify-content: space-between; */
}

/* apply font on elements */
input, textarea,
button,
p,
h1, h2, h3, h4, h5, h6,
div,
span,
li,
table, th, td
{
  font-family: var(--font-ibm-hebrew);
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}