:root {
  --button-primary-color: rgb(0, 94, 255);
  --button-primary-color-hover: rgba(0, 94, 255, 0.9);
  --button-primary-color-active: rgba(0, 94, 255, 0.7);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}