.main{
    background: linear-gradient(30deg, rgb(20, 104, 231), rgba(255, 255, 255, 0.1));
    height: 100vh;
    padding-top: 10%;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
}

.h2title{
    font-size: xx-large;
    font-weight: 100;
    color: white;
    animation: breath 5s infinite linear;
}

@keyframes breath {
    0%{text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);}
    50%{text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);}
    100%{text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);}
}

.input{
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: large;
}

.inputLastChild{
    margin-bottom: 20px;
}

.button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    font-size: large;
    cursor: pointer;
}

.button:hover{
    background-color: var(--button-primary-color-hover);
}

.button:active{
    background-color: var(--button-primary-color-active);
}

.logosImages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.lastImage{
    margin-left: auto;
}

.error{
    color: red;
    margin-top: 10px;
    text-shadow: 0 0 12px rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.3);
    display: block;
    border-radius: 5px;
    padding: 5px 15px;
    opacity: 1;
    transition: 1s;
    transform: translateY(-13px);
}

/* .hidden{  
    opacity: 0;
    transition: 1s;
} */

.f35Images{
    margin-top: 10px;
    position: absolute;
    right: 20%;
    bottom: 30%;
}

.f35Image1{
    animation: flying1 5s infinite ease-in-out;
}

@keyframes flying1 {
    0%{transform: translate(0px, 0px);}
    50%{
        transform:  translate(7px, 5px)
                    rotateZ(-3deg);
    }
    100%{transform: translate(0px, 0px);}
}

.f35Image2{
    animation: flying2 4s infinite ease-in-out;
}

@keyframes flying2 {
    0%{transform: translate(120px, 160px);}
    50%{transform: translate(130px, 155px);}
    100%{transform: translate(120px, 160px);}
}