.storagePage {
    direction: rtl;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--bg); */
}

.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.equipmentButton{
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.equipmentButton:hover{
    box-shadow: 0 4px 5px 0 black;
}

.equipmentButton.active{
    transform: translateY(-4px);
    background-color: #ccc;
    box-shadow: 0 5px 10px 0 black;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sortContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.sortByLabel{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.sortByIcon{
}

.sortBySelect{
    padding: 0 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1.1rem;
    outline: none;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}

.sortOrderButton{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    padding: 1px 4px;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #527fba4a;
    border: 1px solid #167bff;
    cursor: pointer;
    transition: .3s ease-out;
}

.sortOrderButton:hover{
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .6);
}

.tableContainer {
    margin-bottom: 20px;
    width: 60%;
}

.wrapper{
    height: 390px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table tr{
    transition: .1s ease-in-out;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 25%;
}

.table th {
    background-color: #527fba;
    color: white;
}

.table tr:hover {
    background-color: rgb(255, 255, 255);
    color: #181A1A;
}

.table th, .table td {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.fade {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageButton {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.pageButton:hover {
    background-color: #ddd;
}

.activePage {
    background-color: #527fba;
    color: white;
    border: none;
}

.activePage:hover{
    background-color: #527fba;
}