.aircraftsAvailabilityPieChartBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aircraftsAvailabilityPieChartBox .titleBox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.aircraftsAvailabilityPieChartBox .titleBox .uavIcon {
    margin-left: 15px;
}

.aircraftsAvailabilityPieChartBox .titleBox .title{
    white-space: nowrap;
}

.aircraftsAvailabilityPieChartBox .chart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.aircraftsAvailabilityPieChartBox .chart .totalAircraftsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.aircraftsAvailabilityPieChartBox .chart .totalAircraftsValue {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.aircraftsAvailabilityPieChartBox .options{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.1rem;
}

.aircraftsAvailabilityPieChartBox .options .option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aircraftsAvailabilityPieChartBox .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.aircraftsAvailabilityPieChartBox .title .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%
}