.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
}

.logo {
    grid-column: 1;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255)) drop-shadow(0 0 2px rgb(255, 255, 255));
}

.links {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.indicator {
    grid-column: 3;
    text-align: right;
}