.td{
    text-align: center;
    padding-block: 15px;
    position: relative;
}

.container {
    cursor: pointer;
}

.container .input {
    display: none;
}

.container .svg {
    transform: scale(.7);
    overflow: visible;
}

.path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray .5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.container .input:checked ~ .svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.iconWrapper{
    display: inline-block;
    background-color: white;
}

.icon{
    transform: scale(1.7);
    cursor: pointer;
    color: orange;
}

.tooltip{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: red;
    white-space: nowrap;
}

.id{
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 15px;
    white-space: nowrap;
}

@media (min-width: 1170px) {
    .id{
        top: -8px;
    }
}

@media (max-width: 1169px) {
    .id{
        top: 0;
    }
}