.container{
    position: relative;
    direction: rtl;
    overflow: hidden;
}

.title{
    color: white;
    margin-bottom: 40px;
    text-align: center;
    transform: translateY(20px);
    text-shadow: 0px 0px 14px rgba(140, 140, 140, 0.5);
}

.icon{
    filter: drop-shadow(0 0 10px rgba(140, 140, 140, 0.5));
}

.link{
    position: absolute;
    padding: 10px 15px;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
    transition: 0.5s ease-out;
}

.link:hover{
    padding: 10px 20px;
}