.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notFoundContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.xIcon{
    color: rgb(255, 60, 60);
    font-size: 5rem;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.notFoundText{
    font-size: 2rem;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.flightDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 25px;
    max-width: 950px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0 0px 8px rgba(238, 238, 238, 0.8);
    direction: rtl;
}

.title{
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
    width: 100%;
}

.tableContainer {
    margin-top: 20px;
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    cursor: default;
}

.table tr{
    transition: .2s ease-in-out;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #1f2a44;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #4a5c87;
}

.table tr {
    background-color: #2b3a5e;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.table tr:nth-child(even) {
    background-color: #23304f;
}

.table tr:hover {
    background-color: #3c4977;
    color: #ffffff;
}

.table td {
    border: 1px solid #4a5c87;
    padding: 12px;
    text-align: center;
    color: #d1d9e6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.table tr:hover td {
    color: #ffffff;
}

.list{
    list-style: none;
}

.editButton{
    background-color: #009dffcc;
    border: 1px solid #009dff;
    color: white;
    font-size: 1rem;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 black;
    cursor: pointer;
}

.editButton:hover{
    background-color: #009dffa0;
}

.editIcon{
    font-size: 0.9rem;
    margin-left: 2px;
}

.canceledMessage{
    color: rgb(209, 72, 72);
    font-size: 1.5rem;
}