.navbar{
    background:linear-gradient(70deg , var(--primary-color) , rgb(38, 150, 236));
}

.navbarList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    list-style: none;
    /* gap: 5px; */
}

.navbarItem{
    /* padding: 5px 0px; */
}

.link{
    text-decoration: none;
    margin-right: 5px;
    color: white;
    padding: 6px 20px;
    font-size: large;
    border-radius: 5px;
    transition: .4s ease-in-out;
}

.hover:hover{
    background-color: white;
    color: rgb(65, 65, 65);
}

.active{
    background-color: white;
    border-radius: 5px;
    color: rgb(65, 65, 65);
}

.logoutLinkItem{
    margin-right: auto;
}

.logoutLink{
    text-decoration: none;
    background-color: white;
    color: rgb(65, 65, 65);
    padding: 6px 20px;
    font-size: x-large;
    border-radius: 5px;
    transition: .5s;
    margin-inline: 3px;
}

.logoutLink:hover{
    box-shadow: 0 0 10px 4px rgba(65, 65, 65, 0.3);
}