.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    background-color: var(--primary-color);
}


@media (max-width: 600px) {
    .container{
        flex-direction: column; /* Align items to the top */
        height: auto; /* Let the container height adjust automatically */
        padding-block: 10px; /* Adjust vertical padding */
    }
}